<!-- app/views/admin/users/_form.html.erb -->
<%= form_with model: [:admin, @user], local: true do |f| %>
  <% if @user.errors.any? %>
    <div class="alert alert-danger">
      <h5><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h5>
      <ul>
        <% @user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="col-md-6 mb-3">
      <%= f.label :first_name, class: "form-label" %>
      <%= f.text_field :first_name, class: "form-control" %>
    </div>

    <div class="col-md-6 mb-3">
      <%= f.label :last_name, class: "form-label" %>
      <%= f.text_field :last_name, class: "form-control" %>
    </div>
  </div>

  <div class="mb-3">
    <%= f.label :email, class: "form-label" %>
    <%= f.email_field :email, class: "form-control", required: true %>
  </div>

  <div class="mb-3">
    <%= f.label :role, class: "form-label" %>
    <%= f.select :role, [['User', 'user'], ['Admin', 'admin'], ['Super Admin', 'super_admin']], {}, class: "form-select" %>
  </div>

  <% if @user.new_record? %>
    <div class="mb-3">
      <%= f.label :password, class: "form-label" %>
      <%= f.password_field :password, class: "form-control" %>
      <div class="form-text">Leave blank to generate random password</div>
    </div>

    <div class="mb-3">
      <%= f.label :password_confirmation, class: "form-label" %>
      <%= f.password_field :password_confirmation, class: "form-control" %>
    </div>
  <% end %>

  <div class="mt-4">
    <%= f.submit class: "btn btn-primary" %>
    <%= link_to "Cancel", admin_users_path, class: "btn btn-secondary" %>
  </div>
<% end %>